################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GroupLearning/.vs
/GroupLearning/GroupLearning/GroupLearning/bin/Debug/net8.0
/GroupLearning/GroupLearning/GroupLearning/obj
/GroupLearning/GroupLearning/GroupLearning.Client/bin/Debug/net8.0
/GroupLearning/GroupLearning/GroupLearning.Client/obj
*.db-shm
*.db-wal
